@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Roboto&display=swap');



#sketch{
    max-width: 100%;
    max-height: 95%;          
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    align-items: center;    
    position: relative;
    gap:0px ;    
    background-position: center;  
}

#grid {
    display: flex;
    flex-wrap: wrap;      
    margin-bottom: 40px;
    width: 780px;
    height: 480px;       
    /*border: 8px solid black;*/
    border-radius: 15px;   
    position: absolute;
    z-index: 2;   
    background-color: lightgrey;       
}
#forms{    
    margin-bottom: 680px;
    display: flex;
    gap: 80px;
    
    padding: 16px 32px;
    position: absolute;
    z-index: 3;
}

label{
    font-family: 'Aclonica';
    font-weight: bold;
}
input{
    border: 2px solid  #04AA6D;
    border-radius: 4px;
    padding: 5px 5px;
  }
#buttonCells, #buttonColor, #buttonBoardColor{
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 15px;
    cursor: pointer;
}

#pic {       
    margin-top: 50px;
    object-fit: contain;    
    z-index: 1;
    display: flex;   
    min-height: 95vh;
    min-width: 100vh
}
#body{
    background-image: url(images/floor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-shrink: 0;
    margin:auto;
    background-position: center;
    height: 100vh;    
    width: 1200px;  

}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    
    width:960px;
    height:980px;
}
   



